.frame{
    border: 2px solid red;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    &_kernel{
        position: relative;
        width: 400px;
        height: 400px;

        video{
            border: 2px solid red;
            background-color: rgba($color: yellow, $alpha: 0.3);
            width: 400px;
            height: 400px;
            object-fit: cover;
        }
        canvas{
            z-index: 99 !important;
            position: absolute;
            top:0;
            left: 0;
            width:400px;
            height: 400px;
            border: 3px solid blue;
            background: transparent;
            z-index: 99 !important;
        }

    }
}

.game{
    height: 100vh;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, white, silver);
    padding-top: 100px;

    &_motto{
        position: absolute;
        left: 50px;
        top: 50px;
        display: flex;
        align-items: flex-end;
        h1{
            color: darkorange;
            text-shadow: 1px 1px black;
        }
    }
    &_mainline{
        //border: 2px solid orange;
        display: flex;
        img{
            object-fit: contain;
            height: 300px;
            width: 300px;
        }
    }
    &_arrows{
        position: absolute;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        button{
            font-size: 90px !important;
            border: none;
            background: transparent;
        }
        div{
            padding: 50px;
        }
        :nth-child(1){
            display: flex;
            justify-content: flex-start;
        }
        :nth-child(2){
            display: flex;
            justify-content: flex-end;
        }
    }
}